In [6]:
import pandas as pd
df= pd.read_csv('banknotesData by Pudding.csv')
df

,country,countryAbbr,currencyName,name,gender,billCount,profession,knownForBeingFirst,currentBillValue,propTotalBills,firstAppearanceDate,deathDate,appearanceDeathDiff,comments,hoverText,hasPortrait,id
0,Argentina,ARS,Argentinian Peso,Eva Perón,F,1.0,Activist,No,100,NaN,2012,1952,60.0,NaN,NaN,True,ARS_Evita
1,Argentina,ARS,Argentinian Peso,Julio Argentino Roca,M,1.0,Head of Gov't,No,100,NaN,1988,1914,74.0,NaN,NaN,True,ARS_Argentino
2,Argentina,ARS,Argentinian Peso,Domingo Faustino Sarmiento,M,1.0,Head of Gov't,No,50,NaN,1999,1888,111.0,NaN,NaN,True,ARS_Domingo
3,Argentina,ARS,Argentinian Peso,Juan Manuel de Rosas,M,1.0,Politician,No,20,NaN,1992,1877,115.0,NaN,NaN,True,ARS_Rosas
4,Argentina,ARS,Argentinian Peso,Manuel Belgrano,M,1.0,Founder,Yes,10,NaN,1970,1820,150.0,Came up with the first Argentine flag.,Designed first Argentine flag,True,ARS_Belgrano
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,Venezuela,VES,Venezuelan bolivar,Francisco de Miranda,M,1.0,Military,No,200,NaN,1968,1816,152.0,NaN,NaN,False,VES_Miranda
275,Venezuela,VES,Venezuelan bolivar,Simón Rodrigues,M,1.0,Educator,No,20,NaN,2007,1854,153.0,NaN,NaN,False,VES_Rodrigues
276,Venezuela,VES,Venezuelan bolivar,Ezequiel Zamora,M,1.0,Military,No,100,NaN,2018,1860,158.0,NaN,NaN,False,VES_Ezequiel
277,Venezuela,VES,Venezuelan bolivar,Rafael Urdaneta,M,1.0,Head of Gov't,No,10,NaN,2018,1845,173.0,NaN,NaN,False,VES_Rajael
278,Venezuela,VES,Venezuelan bolivar,José Félix Ribas,M,1.0,Military,No,5,NaN,2018,1815,203.0,NaN,NaN,False,VES_Ribas

In [7]:
df = df.drop_duplicates('name')

In [8]:
df['gender'].value_counts()

gender
M    188
F     53
Name: count, dtype: int64

In [5]:
dfgender_distribution = df.groupby(['country', 'gender']).size().unstack(fill_value=0)

# Sort by the 'F' column in descending order (more women first)
gender_distribution = gender_distribution.sort_values(by='F', ascending=False)

# Get the top 5 countries with the highest number of women
top_5_countries = gender_distribution.head(5)

print(top_5_countries)

,country,countryAbbr,currencyName,name,gender,billCount,profession,knownForBeingFirst,currentBillValue,propTotalBills,firstAppearanceDate,deathDate,appearanceDeathDiff,comments,hoverText,hasPortrait,id
0,Argentina,ARS,Argentinian Peso,Eva Perón,F,1.0,Activist,No,100,NaN,2012,1952,60.0,NaN,NaN,True,ARS_Evita
1,Argentina,ARS,Argentinian Peso,Julio Argentino Roca,M,1.0,Head of Gov't,No,100,NaN,1988,1914,74.0,NaN,NaN,True,ARS_Argentino
2,Argentina,ARS,Argentinian Peso,Domingo Faustino Sarmiento,M,1.0,Head of Gov't,No,50,NaN,1999,1888,111.0,NaN,NaN,True,ARS_Domingo
3,Argentina,ARS,Argentinian Peso,Juan Manuel de Rosas,M,1.0,Politician,No,20,NaN,1992,1877,115.0,NaN,NaN,True,ARS_Rosas
4,Argentina,ARS,Argentinian Peso,Manuel Belgrano,M,1.0,Founder,Yes,10,NaN,1970,1820,150.0,Came up with the first Argentine flag.,Designed first Argentine flag,True,ARS_Belgrano
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,Venezuela,VES,Venezuelan bolivar,Francisco de Miranda,M,1.0,Military,No,200,NaN,1968,1816,152.0,NaN,NaN,False,VES_Miranda
275,Venezuela,VES,Venezuelan bolivar,Simón Rodrigues,M,1.0,Educator,No,20,NaN,2007,1854,153.0,NaN,NaN,False,VES_Rodrigues
276,Venezuela,VES,Venezuelan bolivar,Ezequiel Zamora,M,1.0,Military,No,100,NaN,2018,1860,158.0,NaN,NaN,False,VES_Ezequiel
277,Venezuela,VES,Venezuelan bolivar,Rafael Urdaneta,M,1.0,Head of Gov't,No,10,NaN,2018,1845,173.0,NaN,NaN,False,VES_Rajael
278,Venezuela,VES,Venezuelan bolivar,José Félix Ribas,M,1.0,Military,No,5,NaN,2018,1815,203.0,NaN,NaN,False,VES_Ribas

In [17]:
gender_distribution = df.groupby(['country', 'gender']).size().unstack(fill_value=0)

gender_distribution = gender_distribution.sort_values(by='F', ascending=False)

top_5_countries = gender_distribution.head(5)

print(top_5_countries)

gender              F   M
country
Australia           5   4
Dominican Republic  4   7
Mexico              4   6
Sweden              3   3
Bolivia             3  12

In [18]:
top_5_countries.to_csv('top_5_countries.csv')